@use "styles/mq" as mq;

.navigationWrapper {
  position: sticky;
  top: 0;
  z-index: 2;
  @include mq.mq($until: tablet) {
    display: none;
  }
}

.main {
  display: flex;
  justify-content: center;
}
