.header {
  position: relative;
}

.imageWrapper {
  height: 100%;
  position: relative;
}

.titleWrapper {
  color: #fff;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 8px #000;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heading1 {
  font-family: var(--font-yuji-syuku);
  font-size: 8.4rem;
  font-weight: 400;
  letter-spacing: 8px;
  white-space: nowrap;
}

.subTitle {
  font-family: var(--font-shippori-mincho);
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 24px 0 0;
}
