@use "styles/mq" as mq;

.wrapper {
  display: grid;
  grid-template: 1fr auto / auto;
}

.button {
  background: #fff;
  border-radius: 4px;
  display: flex;
  left: 0;
  margin: 12px;
  padding: 12px;
  position: fixed;
  top: 0;
  z-index: 1;
  @include mq.mq($from: tablet) {
    display: none;
  }
}

.drawerWrapper {
  @include mq.mq($from: tablet) {
    display: none;
  }
}
