@use "styles/mq" as mq;

.wrapper {
  max-width: 1280px;
  padding-bottom: 120px;
  padding-top: 72px;
  width: 100%;
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.descriptionWrapper {
  text-align: center;
}

.listWrapper {
  padding: 96px 0 0;
}

.list {
  display: grid;
  gap: 72px 24px;
  justify-content: center;
  @include mq.mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  max-width: 600px;
}

.imageWrapper {
  max-width: 600px;
  position: relative;
  width: 100%;
  @include mq.mq($until: tablet) {
    aspect-ratio: 4 / 3;
  }
  @include mq.mq($from: tablet) {
    aspect-ratio: 16 / 9;
  }
}

.textsWrapper {
  display: grid;
  gap: 8px;
  padding: 16px 0 0;
}

.nameWrapper {
  display: flex;
  gap: 4px;
}

.name {
  font-family: "Shippori Mincho", serif;
  font-size: 2.4rem;
  font-weight: 700;
}
