@use "styles/mq" as mq;

.wrapper {
  display: grid;
  gap: 72px;
  max-width: 1280px;
  padding-bottom: 120px;
  padding-top: 72px;
  width: 100%;
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.article {
  position: relative;
  @include mq.mq($until: tablet) {
    aspect-ratio: 3 / 4;
  }
  @include mq.mq($from: tablet, $until: desktop) {
    aspect-ratio: 16 / 9;
  }
  @include mq.mq($from: desktop) {
    aspect-ratio: 8 / 3;
  }
}

.inner {
  align-items: center;
  background: rgba(#000, 0.75);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  inset: 0;
  justify-content: center;
  left: 0;
  padding: 12px;
  position: absolute;
  top: 0;
}

.heading2 {
  font-family: "Shippori Mincho", serif;
}

.swiper,
.paragraph {
  max-width: 640px;
  width: 100%;
}

.swiper :global(.swiper-wrapper) {
  padding: 0 0 48px;
}

.swiperSlide {
  align-items: center;
  display: flex;
  height: calc(100% - 48px);
}

.swiper :global(.swiper-pagination) {
  bottom: 0;
  counter-reset: hoge;
  display: flex;
  gap: 12px;
  justify-content: center;
  position: absolute;
}

.swiper :global(.swiper-pagination) > * {
  align-items: center;
  background: #333;
  border-radius: 100vmax;
  counter-increment: hoge;
  display: flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
}

.swiper :global(.swiper-pagination) > *::after {
  color: #fff;
  content: counter(hoge);
  display: block;
  font-size: 1.6rem;
  position: absolute;
}
