@use "styles/mq" as mq;

.wrapper {
  max-width: 1280px;
  padding-bottom: 120px;
  padding-top: 72px;
  width: 100%;
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.iframe {
  width: 100%;
  @include mq.mq($until: tablet) {
    aspect-ratio: 4 / 3;
  }
  @include mq.mq($from: tablet) {
    aspect-ratio: 16 / 9;
  }
}

.listWrapper {
  display: flex;
  justify-content: center;
  padding: 96px 0 0;
}

.list {
  display: grid;
  font-family: var(--font-shippori-mincho);
  gap: 4px 24px;
  grid-template: auto / auto auto;
  justify-content: flex-start;
}
